.bg {
  background-image: linear-gradient(to right, #7286b4, #e794ce);
  border-radius: 1rem;
  position: relative;
}

.heading {
  color: #2e0052;
  padding: 2rem;
  font-size: 1.5rem;
}

.girl {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15rem;
}

.res{
  padding-inline: 2%;
}
