:root {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.button1 {
  outline: none;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 200ms;
  border: 2px solid white;
  &:hover {
    box-shadow: 0 0 0 2px #000000;
  }
}

.carousel .carousel-status {
  display: none;
}

.carousel .control-dots {
  position: static;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.carousel.carousel-slider{
  display: flex;
  flex-direction: column-reverse;
}

option {
  padding: 1rem;
}