:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.button1 {
  outline: none;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
