:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
}

pre {
  white-space: pre;
}

pre::before {
  content: '\00B7'; /* Unicode character for a middle dot (·) */
  margin-right: 5px; /* Adjust spacing as needed */
}
