.bg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
  height: 5vh;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left p {
  padding-top: 0.5rem;
}
