.bg img {
  width: 15%;
  min-width: 5rem;
  min-height: 5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 1rem;
}

.bg {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  position: absolute;
  border: 2px solid #0000003a;
  margin-top: 0.25rem;
  width: 100%;
  border-radius: 5px;
  padding: 3px 0;
  box-sizing: border-box;
  background-color: aliceblue;
  box-shadow: 0 0 10px 7px #0000001a;
  z-index: 1;
}

.content p {
  padding: 0 0.5rem;
  border-bottom: 2px solid #0000003a;
  transition: all 100ms;
  &:hover {
    background-color: blue;
    color: white;
  }
}

.content p:last-child {
  border: 0;
}

.quantitybutton {
  border: 2px solid #0000003a;
  padding: 0 0.5rem;
  border-radius: 5px;
  background-color: white;
}

.quantity {
  width: 10rem;
}

.loader {
  padding-block: 0.5rem;
}
