.bg img {
  width: 15%;
  min-width: 5rem;
  min-height: 5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 1rem;
}

.bg {
  display: flex;
  justify-content: space-between;
}
