.address {
  display: flex;
}

.address h2 {
  flex-grow: 1;
}

.address div {
  width: 30%;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
}

.cart h2 {
  flex-grow: 1;
}

.cart .cartbox {
  width: 30%;
  min-width: 10rem;
}

.cartgrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.cartbox img {
  width: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.selected {
  box-shadow: 0 0 0 3px black;
}

.address,
.payment,
.cart {
  border-bottom: 2px solid #0000002a;
  padding: 1rem;
}

.payment h2 {
  flex-grow: 1;
}

.payment {
  display: flex;
}

.paymentbox {
  width: 30%;
  min-width: 10rem;
  margin-block: auto;
}
