.bg {
  background-color: #2e0052;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
}
