.bg {
  display: flex;
  gap: 2rem;
}

.summary {
  width: 40%;
  padding: 1.5rem;
  border: 2px solid #0000004a;
  height: fit-content;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 0.7rem;
  text-align: center;
  padding-block: 0.5rem;
  border-bottom: 2px solid #0000004a;
}

.address {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.placeorder {
  display: flex;
  flex-direction: column;
}

.noitems {
  text-align: center;
}
