.bg {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links a {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

.res {
  height: 3rem;
  padding-inline: 2%;
  display: flex;
  align-items: center;
  background-color: #2e0052;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.search {
  width: 100%;
  display: none;
}

.search div{
  border-radius: 1rem;
}

@media only screen and (max-width: 550px) {
  .bg {
    display: none;
  }
  .search{
    display: block;
  }
  .res{
    height: 5rem;
  }
}
