.bg {
  background-color: #2e0052;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links a {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
