.image {
  padding: 10%;
  background-color: #0066ff3a;
  display: flex;
  aspect-ratio: 1;
  position: relative;
  border-radius: 0.25rem;
}

.image button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.image img {
  object-fit: cover;
}

.details {
  padding: 1rem;
}

.details p {
  font-size: 1rem;
  font-weight: 500;
}

.bg {
  border: 2px solid #0000003a;
  border-radius: 0.5rem;
}
