.bg {
  max-height: calc(95vh - 12rem);
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  overflow-y: hidden;
}

.items {
  flex-grow: 1;
}

.itemsbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-top: 2px solid #0000002a;
  border-right: 2px solid #0000002a;
}

.items {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.footer {
  border-top: 2px solid #0000002a;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.details {
  width: 30%;
  min-width: 14rem;
  padding: 2%;
}

.list {
  display: flex;
  justify-content: space-between;
}

.total {
  margin-top: 20vh;
}

.checkout {
  width: 100%;
  background-color: #ffd600;
  border-radius: 0.5rem;
}

.noitems {
  text-align: center;
}
/* 
@media only screen and (max-width: 550px) {
  .itemsbox,
  .list {
    display: none;
  }
  .details {
    width: 100%;
  }
} */
